extends layout

block content

    nav.navbar.navbar-inverse.navbar-fixed-top
        .navbar-header
          a.navbar-brand(href='#') Hanging around Barrie
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/about.html', title='About me') About me
            li
              a(href='#developing') Developing and goals
            li
              a(href='#signIn') Sign in
            li
              a(href='#admin') Admin
      .jumbotron
        .container
          ul.nav.nav-pills
            li.active(role='presentation')
              a(href='/') Events
            li(role='presentation')
              a(href='/') Clubs
            li(role='presentation')
              a(href='/') Deals of the week
            li(role='presentation')
              a(href='/') Review
        div(id='map-canvas')
      .col-md-4
        .collapse.navbar-collapse
          a(href='/products/add', title='Add Product') Add Product     
        h2 Offers and specials
        table.table
          thead
              th Venue
              th Day
              th Price
              th Descrition
              th Rating
              th Type
              th Edit
              th Delete
          tbody
            each product, i in products
                tr
                    td #{product.venue}
                    td #{product.day}
                    td #{product.price}
                    td #{product.description}
                    td #{product.rating}
                    td #{product.type}
                    td 
                        a(href='products/edit/#{product._id}' title='Edit') Edit
                    td 
                        a(href='products/delete/#{product._id}' title='Delete' onclick='return confirm(\'Are you sure you want to delete this product?\');') Delete

      form.form-horizontal(action='/specials/', method='get')
          .form-group
              .col-sm-10
                label.col-sm-2.control-label
                  | Day
                  select#day(name='day')
                    option(value='All') Everyday
                    option(value='Monday') Monday
                    option(value='Tuesday') Tuesday
                    option(value='Wednesday') Wednesday
                    option(value='Thursday') Thursday
                    option(value='Friday') Friday
                    option(value='Saturday', selected='') Saturday
                    option(value='Sunday') Sunday
              .col-sm-10
                label.col-sm-2.control-label
                  select(name='feature')
                    option(value='') All
                    option(value='Beer', selected='') Beer
                    option(value='Wine') Drink
                    option(value='Food') Food
              .col-sm-10
                label.col-sm-2.control-label
                  | Rating
                  select(name='Sort')
                    option(value='latest', selected='') 1 star
                    option(value='name') 2 starts
                    option(value='name') 3 stars
                    option(value='name') 4 stars
                    option(value='toprated') 5 stars
              .col-sm-10
                input.button(type='submit', value='Search')